@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Ubuntu Sans Mono", monospace;
  background: black;
}

#three-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); /* регулируй плотность затемнения */
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

#zagolovok{
    position: relative;
    z-index: 2;
    color: white;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
}

#lang-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  display: flex;
  gap: 12px;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  font-family: "Ubuntu Mono", monospace;
}

.lang-btn {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  z-index: 2;
}

.lang-btn:hover {
  text-shadow: 0 0 5px cyan;
}

.lang-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background: white;
  border-radius: 8px;
  z-index: 1;
  transition: transform 0.4s ease;
}

/* Положение индикатора при RU / EN */
#lang-switch[data-active="ru"] .lang-indicator {
  transform: translateX(0%);
}

#lang-switch[data-active="en"] .lang-indicator {
  transform: translateX(100%);
}
