@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Ubuntu Sans Mono", monospace;
  background: black;
}

#three-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

#zagolovok {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  margin-top: 20%;
}

#lang-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 40px;
  background: #ccc;
  border-radius: 8px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;

  .lang-btn {
    flex: 1;
    background: none;
    border: none;
    z-index: 5;
    height: 100%;
    line-height: 40px;
    color: black;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  .lang-btn.disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }

  .lang-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 8px;
    z-index: 1;
    transition: transform 0.4s ease;
  }

  &[data-active="ru"] .lang-indicator {
    transform: translateX(0%);
  }

  &[data-active="en"] .lang-indicator {
    transform: translateX(100%);
  }
}